OPENAI_API_KEY=

APIFY_API_TOKEN= 
GEOCODING_API_URL=
WEATHER_API_URL = 
OPENWEATHER_API_KEY=



# Memory & Vector Database (Optional, app works without)
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=rumsan

#supabase credentials
SUPABASE_URL=
SUPABASE_ANON_KEY = 
SUPABASE_SERVICE_ROLE_KEY = 
DATABASE_URL=
